.title {
  font-size: clamp(2rem, 5vw, 3.2rem);
  font-weight: clamp(600, 200, 300);
  line-height: 1.1;
}

p{
  font-family: serif;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-align: justify;
}

