<div nz-row>
  <!-- TEXT -->
  <div nz-col
       [nzXs]="{ span: 24}"
       [nzMd]="{ span: 12}">
    <div class="container" nz-flex nzVertical nzGap="small">
      <h1 class="title">¿Quien Soy?</h1>
      <p>
        Soy Saira Quiñones, Licenciada en Ciencias de la Comunicación por el ITESO, con
        especialidad en producción, locución de radio y locución comercial.
      </p>
      <p>
        Me dedico a la creación de contenidos sonoros y desarrollo de propuestas creativas para
        marcas y proyectos de comunicación.
      </p>
      <p>
        He trabajado con Promomedios, Canal 44, Omnilife Chivas y Megaradio.
      </p>
      <div class="buttonGroup">
        <app-button-component variant="outline">
          <div body >
            VER MAS SOBRE MI
          </div>
        </app-button-component>
      </div>
    </div>
  </div>
</div>
